#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata

#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.hyper
*.twbx
*.twb
*.pptx
*.Rproj
"Data Out/extract.hyper"
extract.hyper


#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*
Dataout/*
Data Out/*
"Data Out"/*
Key Populations COP_ROP Target Tool.twb Files/*
"Key Populations COP_ROP Target Tool.twb Files"/*